# --- Python Virtual Environment ---
.venv


# --- Database Files ---
*.db
*.sqlite3

# --- Python Cache & Compiled Files ---
__pycache__/
*.pyc
*.py[cod]
*$py.class

# --- IDEs & OS Specific ---
.vscode/
.idea/
.DS_Store